@import"../utility.css";


.btn {
    background-color: var(--bg-main);
    box-shadow: var(--shadow-products-btn);
    border: none;
    padding: .3em 1.5em;
}

.btn:active:focus,
.btn:active {
    box-shadow: none;
}

.btn:hover {
    background-color: var(--red-secondary);
    font-weight: 300;
}

.btn {
    background-color: var(--bg-main);
}

.btn:focus {
    box-shadow: none;
}

.btn:hover {
    background-color: var(--red-secondary);
}

.btn-outline-success {
    color: var(--font-main);
}

.btn-outline-success:active {
    border: none;
    box-shadow: none;
    background-color: var(--color-var-style);
}

.btn-outline-success:focus {
    background-color: var(--red-secondary);
    box-shadow: none;
}


.btn-buy:active:focus {
    background-color: var(--red-secondary);
}

.btn-buy:focus {
    background-color: var(--bg-main);
    box-shadow: var(--shadow-products-btn);
}

.form-control:focus {
    border-color: none;
    box-shadow: 1px 1px var(--red-secondary)inset, 0 0 8px var(--red-secondary);
}

.products .container {
    height: auto;
}

.options-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.filter {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
}

.filter-menu {
    width: auto;
    display: flex;
    justify-content: center;
}

.merk-menu,
.category-menu {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
}

.merk-menu li,
.category-menu li {
    padding: .4em .5em;
}

.merk li:hover,
.category li:hover {
    border-bottom: 1px solid var(--red-secondary);
    cursor: pointer;
}



.products-section {
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.splide__track {
    min-height: 70%;
    padding: 100px 0 0 0;
    width: 100%;
}


.card {
    border: none;
    background-color: var(--bg-main-op);
    box-shadow: 6px 6px 12px var(--shadow-top-main), -6px -6px 12px var(--shadow-bottom-main);
    position: relative;
    margin-bottom: 100px;
}

.card-img-top {
    height: 150px;
    object-fit: fill;
}

.text-content {
    height: auto;
}

.splide__pagination {
    margin-top: 0;
}

.btn-buy {
    position: absolute;
    bottom: 10px;
}

.button-value {
    color: inherit;
    padding: .6em .8em;
    background-color: inherit;
    border: none;
}

.button-value:hover,
.button-value:focus {
    border-bottom: 2px solid var(--red-secondary);
}

.splide {
    width: 80%;
    padding: 0 60px;
}



.hide {
    display: none;
}

.card {
    max-width: 300px;
    box-shadow: 2px 2px 5px var(--shadow-btm-primary), -4px -4px 5px var(--shadow-top-primary);
}

.card-img-top {
    height: 60%;
}

@media only screen and (max-width: 700px) {
    .container {
        max-width: 680px;
        padding: 40px 20px;
    }

    a {
        font-size: 1em;
    }

    .options-wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2em;
    }

    .filter {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        height: 100px;
        order: 2;
    }

    .splide {
        width: 100%;
        padding: 0 !important;
    }


    .card {
        width: 100% !important;
    }

    .search-bar {
        order: 1;
        width: 100%;
    }

    .form-control {
        width: 100%;
    }

}