@import"../utility.css";


.btn {
    background-color: var(--bg-main);
    box-shadow: 6px 6px 12px var(--shadow-top-main), -6px -6px 12px var(--shadow-bottom-main);
    border: none;
    padding: .3em 1.5em;
}

.btn:active:focus,
.btn:active {
    box-shadow: none;
}

.btn:hover {
    background-color: var(--red-secondary);
    font-weight: 300;
}

.btn.show {
    background-color: var(--red-secondary);
}

.btn.show:focus {
    box-shadow: none;
}

.btn.show:hover {
    background-color: var(--red-secondary);
}

.btn-outline-success {
    color: var(--font-main);

}

.btn-outline-success:active {
    border: none;
    box-shadow: none;
    background-color: var(--color-var-style);
}

.form-control:focus {
    border-color: none;
    box-shadow: 1px 1px var(--red-secondary)inset, 0 0 8px var(--red-secondary);
}

.products .container {
    height: auto;
}

.options-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.filter-menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.merk-menu,
.category-menu {
    width: 100%;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.merk-menu li,
.category-menu li {
    padding: .4em .5em;
}

.merk li:hover,
.category li:hover {
    border-bottom: 1px solid red;
    cursor: pointer;
}

.hide {
    display: none;
}

.products-section {
    margin: 0 auto;
    height: auto;
    width: 80%;
}

.splide__track {
    min-height: 70%;
    padding: 100px 0 0 0;
    width: 100%;
}

.splide__list {
    gap: 50px;
}

.card {
    border: none;
    background-color: var(--bg-main-op);
    box-shadow: 6px 6px 12px var(--shadow-top-main), -6px -6px 12px var(--shadow-bottom-main);
    position: relative;
    margin-bottom: 100px;
}

.card-img-top {
    height: 150px;
    object-fit: fill;
}

.text-content {
    height: auto;
}

.splide__pagination {
    margin-top: 0;
}

.btn-buy {
    position: absolute;
    bottom: 10px;
}

.button-value {
    color: inherit;
    padding: .6em .8em;
    background-color: inherit;
    border: none;
}

.button-value:hover,
.button-value:focus {
    border-bottom: 2px solid var(--red-secondary);
}