@import"utility.css";


/* =============== header =============== */

header {
    width: 100vw;
    height: 60px;
    background-color: var(--bg-primary);
    position: fixed;
    z-index: 50;
}

header .container {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo {
    height: auto;
    align-self: center;
    display: inline-block;
    letter-spacing: .2rem;
    font-weight: 700;
    font-size: 2.5rem;
}



.logo span {
    font-size: 2.5rem;
    color: var(--color-var-style);
    font-weight: 700;
}

nav.menu-list {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    gap: 30px;
}

nav ul li>a {
    transition: 0.9s;
    padding: 0.5em .8em;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in;
    cursor: pointer;

}

nav ul li>a:hover {
    transform: translateY(-5px);
    border-bottom: 1px solid var(--color-var-style);
}


.menu-responsive {
    display: none;
}

.bttn-contact>a:hover {
    color: var(--bg-secondary);
}


/* =============== main-section =============== */
main {
    height: 100vh;
    width: 100vw;
    background: var(--bg-main-gradient);
}

main .container {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    justify-content: center;

}



.text-content {
    text-align: left;
    height: auto;
    letter-spacing: 8px;
    line-height: 2.5rem;
    position: relative;
}

.text-content h1 {
    position: relative;
    left: -10px;
    color: var(--color-var-style);
    line-height: 1em;
}

.text-content h2 {
    z-index: 2;
    position: relative;
    color: var(--color-var-style);
}

.text-content h2 .typing {
    font-size: inherit;
    color: var(--font-color-primary);
    z-index: 2;
    position: relative;
}



.text-content p {
    position: relative;
    z-index: 2;
}

.text-content::before {
    content: '';
    width: 50%;
    height: 150%;
    border: 5px solid var(--color-var-style);
    position: absolute;
    right: 20px;
    top: -100px;
    z-index: 1;
}



.text-content::after {
    content: '';
    width: 50%;
    height: 150%;
    border: 3px solid var(--color-var-style);
    position: absolute;
    right: -40px;
    top: -60px;
    z-index: 1;
}


.bttn-hire {
    padding: .3em 2.8em;
    margin-top: 20px;
}

.bttn-hire>a:hover {
    color: var(--bg-secondary);
}

/* =============== about-section =============== */
.about {
    width: 100vw;
    height: auto;
    color: var(--font-color-secondary);
    margin-bottom: 50px;
}



.about .container {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .container i {
    font-size: 1rem;
}

.about .container h2 {
    color: var(--color-var-style);
    margin-bottom: 50px;
}

.about .container>p {
    margin-bottom: 50px;
    text-align: center;
}

.about-content-wrapper {
    min-width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 50px 100px;
    box-shadow: 2px 2px 5px var(--shadow-btm-primary), -4px -4px 5px var(--shadow-top-primary);
    border-radius: 10px;
}

.left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;

}

.left-content img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: -2px -2px 4px var(--shadow-top-primary), 2px 2px 4px var(--shadow-btm-primary);
    margin-bottom: 30px;
    object-fit: cover;
}


.about-detail-id {
    align-self: flex-end;
    color: #000;
    text-align: left;
    min-width: 80%;
    table-layout: fixed;

}

.about-detail-id tr th {
    width: 30%;
    color: var(--color-var-style);
}

.about-detail-id tr td {
    word-wrap: break-word;
    width: 70%;
}

.about-detail-id tr td,
.about-detail-id tr th {
    padding: .2em;
}

.about-detail-id tr th:nth-of-type(2) {
    padding: 0;
    width: 1%;
}

.right-content {
    width: 50%;
    height: 100%;
}

.right-content h3 {
    margin-bottom: 30px;
}

.skill-wrapper {
    height: 80%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.skill-content {
    display: flex;
    flex-direction: column;
    height: 50px;
}

.skill-title {
    display: flex;
    color: var(--font-color-secondary);
    justify-content: space-between;
}

.skill-outer {
    width: 100%;
    height: 10px;
    background-color: var(--bg-secondary);
    box-shadow: 2px 2px 4px var(--shadow-btm-primary), -4px -4px 4px var(--shadow-top-primary);
    border-radius: 10px;
}

.skill-inner {
    width: 60%;
    height: 100%;
    background-color: var(--color-var-style);
    border-radius: 10px;
}


/* ============ services-section ============ */

.services {
    height: auto;
    width: 100vw;
    background-color: var(--bg-primary);
}

.services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: inherit;
    padding: 80px 130px;
}

.services-grid-wrapper {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 30px;
}

.service-item {
    box-shadow: 4px 4px 4px var(--shadow-btm-secondary), -4px -4px 4px var(--shadow-top-secondary);
    height: 300px;
    position: relative;
}

.service-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.service-item:nth-of-type(1) {
    grid-column: 1/4;
}

.service-item:nth-of-type(4) {
    grid-column: 2/5;
}

.service-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.service-title>p {
    font-size: 1.5rem;
    font-weight: 300;
}

.service-title p:first-child {
    color: var(--color-var-style);
    font-weight: 700;
}

.badge {
    display: none;
}

.badge.active {
    width: 100%;
    height: 100%;
    background-color: var(--glass-effect-shadow-btm);
    opacity: .8;
    z-index: 10;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ============ portfolio-section ============ */
.portfolio .container h2 {
    color: var(--color-var-style);
    text-align: center;
}

.portfolio .container {
    position: relative;
}


.card {
    box-shadow: 2px 2px 5px var(--shadow-btm-primary), -4px -4px 5px var(--shadow-top-primary);
}

.bttn-port {
    padding: .3em 2em;
}

.card-nav-left,
.card-nav-right {
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px var(--shadow-btm-primary), -4px -4px 5px var(--shadow-top-primary);
    color: var(--color-var-style);
}

.card-nav-left:active,
.card-nav-right:active {
    box-shadow: inset 2px 2px 5px var(--shadow-btm-primary), inset -4px -4px 5px var(--shadow-top-primary);
    ;
}

.card-nav-left {
    top: 50%;
    left: 3%;
}

.card-nav-right {
    top: 50%;
    right: 3%;
}

/* ============ contact-section ============ */

.contact {
    height: 600px;
    width: 100vw;
    background-color: var(--bg-primary);
    margin-bottom: 200px;
}

.contact .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.contact-text-content {
    line-height: 5rem;
    margin-left: 5%;
}


.contact-text-content h2 {
    font-size: 5rem;
}

.contact-text-content h2 span {
    font-size: 5rem;
    color: var(--color-var-style);
}

.contact-text-content h2:nth-child(2) {
    letter-spacing: .3rem;
    font-weight: 300;
}

.contact-wrapper {
    height: 600px;
    width: calc(42%);
    padding: calc(8%) calc(5%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 180px;
    right: 8%;
    background-image: var(--glass-effect-bg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #fff;
    box-shadow: -2px -2px 4px var(--glass-effect-shadow-top), 1px 1.5px 4px var(--glass-effect-shadow-btm);
}

form {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: transparent;
    margin-bottom: 150px;

}

form>input {
    height: 30px;
    color: var(--font-color-primary);
    background-color: transparent;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid var(--font-color-primary);
}

form>input:focus {
    outline: none;
    color: var(--font-color-primary);
    font-weight: 100;
}

.bttn-submit {
    width: 130px;
    padding: .5em;
}

.bttn-submit>a {
    color: var(--bg-secondary);
}


/* ============ testimony-section ============ */

.testimony {
    width: 100vw;
    height: auto;
    color: var(--color-var-style);
    margin-bottom: 50px;
}

.testimony .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimony-wrapper {
    margin-top: 50px;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.testimony-card {
    box-shadow: 2px 2px 5px var(--shadow-btm-primary), -4px -4px 5px var(--shadow-top-primary);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 10px;
}

.testimony-profile {
    width: 100%;
    height: 20%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
    margin-bottom: 15px;
}

.testimony-profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: inset 2px 2px 5px var(--shadow-btm-primary), inset -4px -4px 5px var(--shadow-top-primary);
    object-fit: cover;
}

.testimony-card:nth-of-type(1) {
    grid-column: 1/3;
}

.testimony-card:nth-of-type(2) {
    grid-column: 3/5;
}

.testimony-card:nth-of-type(3) {
    grid-column: 5/6;
    grid-row: 1/3;
}

.testimony-card:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 2/4;
}

.testimony-card:nth-of-type(5) {
    grid-column: 2/5;
    grid-row: 2;
}

.testimony-card:nth-of-type(6) {
    grid-column: 2/6;
    grid-row: 3;
}


/* ============ footer ============ */
footer {
    width: 100vw;
    height: 200px;
    background-color: var(--bg-primary);
}

footer .container {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer .logo,
footer .logo span {
    font-size: 1.8rem;
}

.footer-nav ul {
    column-gap: 10px;
}


.footer-nav ul li a:hover {
    transform: none;
    border: none;
    color: var(--color-var-style);

}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 17%;
}

.social-icons>i {
    font-size: 2rem;
}

footer .container p {
    font-weight: 100;
}

@media only screen and (max-width: 1300px) {
    .portfolio-card {
        height: 280px;
    }

    .testimony-wrapper {
        width: 100%;
    }

    .contact-text-content h2 {
        font-size: 4rem;
        line-height: 5rem;
        align-self: flex-start;
    }

    .contact-text-content h2 span {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 1000px) {
    .about-content-wrapper {
        width: 110%;
        padding: 50px;
    }

    .left-content img {
        width: 120px;
        height: 120px;
    }

    .left-content {
        width: 65%;
    }

    .right-content {
        width: 35%;
    }

    .portfolios-card-wrapper {
        padding: 50px 0;
    }

    .portfolio-card {
        width: 30%;
    }

    .portfolio-card h3 {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .portfolio-card img {
        height: 60%;
    }

    .card-nav-left {
        top: 50%;
        left: -70px;
    }

    .card-nav-right {
        top: 50%;
        right: -70px;
    }

    .contact .container {
        display: flex;
        flex-direction: column;
    }

    .contact-text-content h2 {
        font-size: 4rem;
        line-height: 5rem;
        align-self: flex-start;
    }

    .contact-text-content h2 span {
        font-size: 4rem;
    }

    .contact-wrapper {
        width: 60%;
        top: 270px
    }

    .testimony {
        margin-top: 200px;
    }

    .testimony-wrapper {
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;
    }

    .testimony-card:nth-of-type(1) {
        grid-column: 1/4;
    }

    .testimony-card:nth-of-type(2) {
        grid-column: 4/7;
        grid-row: 1/2;
    }

    .testimony-card:nth-of-type(3) {
        grid-column: 1/3;
        grid-row: 2/4;
    }

    .testimony-card:nth-of-type(4) {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    .testimony-card:nth-of-type(5) {
        grid-column: 5/7;
    }

    .testimony-card:nth-of-type(6) {
        grid-column: 3/7;
    }
}







@media only screen and (max-width: 700px) {
    body {
        line-height: 1.2rem;
    }

    h1 {
        font-size: 5.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    a,
    p {
        font-size: .8rem;
    }

    .container {
        max-width: 480px;
        padding: 80px 40px;
    }


    /* =============== header-section =============== */
    header {
        height: 50px;
    }


    .hide-menu-list {
        transform: scale(0);
        opacity: 0;
    }

    .menu-list.hide-menu-list {
        display: none;
    }

    .hide-menu-list ul li a {
        display: none;
    }

    nav.menu-list {
        z-index: 5;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-image: var(--menu-glass-effect-bg);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        justify-content: center;
        align-items: center;
        transition-duration: 1s;
        transform: scale(1);
        transition-delay: .2s;
    }

    .menu-list ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .menu-list ul li a {
        color: var(--font-color-primary);
        font-size: 1.5rem;
        transition: 0.9s;
        padding: 0.5em .8em;
        /* transition: all .2s ease-in; */
        cursor: pointer;
        z-index: 5;
    }

    .menu-list ul li a:hover {
        border-bottom: none;
        transform: translate(0);
    }

    /* =============== main-section =============== */

    .text-content p {
        line-height: 2em;
    }

    .text-content::before {

        height: 110%;
        right: 8vw;
        top: -30px;
    }

    .text-content::after {
        height: 110%;
        right: 2vw;
        top: -5px;
    }

    .bttn-hire {
        padding: .05em 2.3em;
    }

    /* =============== about-section =============== */
    .about {
        height: auto;
    }

    .about .container {
        height: auto;
    }

    .about .container p i {
        font-size: .8rem;
    }

    .about-content-wrapper {
        width: 110%;
        height: auto;
        padding: 50px 30px;
        flex-direction: column;
        align-items: flex-start;
    }

    .left-content,
    .right-content {
        width: 100%;
    }

    .left-content img {
        width: 100px;
        height: 100px;
        margin-bottom: 50px;
    }

    .about-detail-id {
        width: inherit;
        margin-bottom: 50px;
    }

    .about-detail-id tr td {
        width: 60%;
        font-size: .8rem;
    }

    .about-detail-id tr th {
        width: 40%;
        vertical-align: text-top;
        font-size: .8rem;
    }

    .right-content {
        width: 100%;
    }

    .skill-wrapper {
        min-width: 90%;
    }

    .skill-content {
        height: 40px;
        margin-bottom: 10px;
    }

    .skill-title {
        margin-bottom: 5px;
    }


    /* ============ services-section ============ */
    .services {
        height: auto;
    }

    .services .container {
        padding: 80px 20px;
        height: inherit;
    }

    .services-grid-wrapper {
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 2fr);
        width: 80%;
        height: 100%;
    }

    .service-item {
        height: 200px;
    }

    .service-item:nth-of-type(1) {
        grid-column: 1;
        background-color: #000;
    }

    .service-item:nth-of-type(4) {
        grid-column: 1;
        background-color: #000;
    }

    .service-title>p {
        font-size: 1rem;
    }

    /* ============ portfolio-section ============ */



    .portfolios-card-wrapper {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .portfolio-card {
        width: 80%;
        height: 350px;
    }

    .portfolio-card a {
        margin-top: 70px;
    }

    .portfolio-card:nth-of-type(2),
    .portfolio-card:nth-of-type(3) {
        display: none;
    }

    .card-nav-left,
    .card-nav-right {
        display: none;
    }

    /* ============ contact-section ============ */
    .contact {
        height: 600px;
        margin-bottom: 0;
    }

    .contact .container {
        display: flex;
        flex-direction: column;
        position: static;
        padding: 100px 20px;

    }

    .contact-text-content {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-text-content h2 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .contact-text-content h2 span {
        font-size: 2rem;
    }


    .contact-wrapper {
        position: static;
        width: 100%;
        padding: calc(15%) calc(10%);
    }

    form {
        gap: 50px;
    }

    .bttn-submit {
        padding: .8em .3em;
    }

    /* ============ testimony-section ============ */
    .testimony {
        margin-top: 150px;
    }

    .testimony-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .testimony-card:not(:nth-of-type(1)) {
        display: none;
    }

    .testimony-card {
        width: 100%;
        height: 300px;
    }

    /* ============ footer ============ */
    footer {
        height: 180px;
    }

    .social-icons {
        width: 50%;
    }

    /* ============ reset-contact-button============ */

    .bttn.bttn-contact.bttn-primary {
        background-color: inherit;
        border: none;
        box-shadow: none;
        padding: 0;
        color: inherit;
    }

    .menu-responsive {
        display: inline-block;
        z-index: 10;
    }


    /* ============ menu-event-handler ============ */
    .menu-show,
    .exit-menu {
        display: inline-block;
        text-align: center;
        z-index: 50;
        font-size: 1.8rem;
        transition: .4s;
        -webkit-transition: .4s;
    }


    .menu-show:active,
    .exit-menu:active {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .hide-icon {
        display: none;
    }
}