@import"utility.css";

.container {
    padding: 0;
}

span {
    color: var(--red-secondary);
    display: inline-block;
}

.btn,
.nav-link {
    box-shadow: 6px 6px 12px var(--shadow-top-main), -6px -6px 12px var(--shadow-bottom-main);
}

.login-forms {
    background-color: var(--shadow-btm-secondary);
}

.login-forms .container {
    display: flex;
    justify-content: center;
}

.login-wrapper {
    border: none;
    padding: 60px 25px;
    background: var(--bg-main);
    border-radius: 16px;
    box-shadow: 8px 8px 16px var(--shadow-top-main), -8px -8px 16px var(--shadow-bottom-main);
    color: var(--font-main);
}

.login {
    padding: 0;
}



.form-control,
.form-label {
    color: var(--font-main) !important;
}

.hide {
    display: none;
}