* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-main: #F6FBF4;
    --bg-main: #1c1c1c;
    --bg-main-op: #1d1d1d;
    --shadow-top-main: #191919;
    --shadow-bottom-main: #1f1f1f;
    --red-secondary: #990000;
    --shadow-products-btn: 6px 6px 12px var(--shadow-top-main), -6px -6px 12px var(--shadow-bottom-main);
}


body {
    background-color: var(--bg-main);
    color: var(--font-main);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .8rem;
    font-weight: 200;
}



a {
    text-decoration: none;
}

ul li {
    list-style: none;
}


.container {
    max-width: 1820px;
    margin: 0 auto;
    padding: 100px 80px;
    height: auto;
}